.dflex-card-01{   
.dflex-highlight-card01{ 
  height: auto;background:#fff;padding:10px;width:48.5%;
  -webkit-box-shadow:1px 1px 4px rgba(0, 0, 0, 0.4);box-shadow:1px 1px 4px rgba(0, 0, 0, 0.4);border-radius:5px;
  p{font-size:14px;color:$dark;width:100%;margin:0px;}
  .price-col{
    color:$light;font-size:20px;
    label{color:$blue;font-size:24px;}
}
}
}