.home-highlight-card02{
    width: 100%;
    height: auto;
    background: #fff;
    padding: 10px;
    -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
}