.homepg-comp01{
width:100%;height:auto;background:#fff;padding:10px;box-shadow:1px 1px 4px rgba(0, 0, 0, 0.4);border-radius:5px;
.bd-highlight{
    label{font-size:35px;font-family:$noto-regular;color:$blue;}
    p{font-size:$font14;margin-bottom:0px;}
}
.sec-row01{
    width:35px;height:35px;background:#99cc00;border-radius:8px;
    img{width:60%;margin:7px 7px;text-align:center;}
}
.hed-title{width:100%;text-align:center;color:#000;
    h3{font-family:$heavy;font-size:$font14;}
}
}